<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!--<link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />-->
</head>
<body>
<header class="header">
    <div class="login">
        <form action="/admin/artists">
            <button type="submit" class="blue-button">Login</button>
        </form>
    </div>
</header>
<br class="field">
    <div class="toolbar"></div>
<div class="toolbar">
    <form name="artist" method="GET" action="/artists">
        <button type="submit" class="blue-button-menu">Artist</button>
    </form>
    <form name="concertplace" method="GET" action="/concertplace">
        <button type="submit" class="blue-button-menu">Concert place</button>
    </form>
    <form name="performance" method="GET" action="/performance">
        <button type="submit" class="blue-button-menu">Performance</button>
    </form>
</div>
{{#if visible1}}
    <div class="table-one">
        <table id = "table-of-concert-place" class="table table-condensed table-striped table-bordered" style="width:50%;">
            <thead><tr><th>Address</th><th>Seating count</th><th>Type</th></tr></thead>
            <tbody>
            </tbody>
        </table>
    </div>
{{/if}}
</div>
<footer></footer>
</body>
<html>

<script>
    function GetArtist() {
        $.ajax({
            url:"/getconcertplace",
            type: "GET",
            contentType: "application/json",
            success: function (artist) {
                var rows = "";
                $.each(artist, function (index, artist) {
                    rows += row(artist);
                });
                $('#table-of-concert-place > tbody').append(rows);
            }
        })
    }
    var row = function (artist) {
        console.log(artist);
        return "<tr><td>" + artist.address + "</td>" +
                "<td>" + artist.seatingcount + "</td><td>" + artist.type + "</td></tr>";
    };

    $(document.forms['concertplace']).on('submit', GetArtist());
</script>
